<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lib.ui"
    android:versionCode="1"
    android:versionName="1.0" 
    
    >
<!-- 
android:sharedUserId="android.uid.system" 会报错：Installation error: INSTALL_FAILED_SHARED_USER_INCOMPATIBLE

android:sharedUserId="android.uid.system" 表示共享android system 用户进程的操作权限.
允许程序发送系统级广播。如：this.sendBroadcast(new Intent(Intent.ACTION_SCREEN_OFF));

 -->


    <permission
        android:name="lib.ui.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="lib.ui.permission.MAPS_RECEIVE" />

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:configChanges="orientation|keyboardHidden"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".UILibActivity"
            android:label="@string/app_name" >

<!--             android:screenOrientation="portrait" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="lib.ui.layout.TableLayout" >
            <intent-filter>
                <action android:name="lib.ui.layout.TableLayout" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="lib.ui.menu.MenuActivity" >
            <intent-filter>
                <action android:name="lib.ui.menu.MenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="lib.ui.AnotherActivity" >
            <intent-filter>
                <action android:name="lib.ui.AnotherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="lib.ui.list.list1.SelfListViewActivity" />
        <activity android:name="lib.ui.GoogleMapActivity" />
        <activity android:name="lib.ui.QQShareActivity" />
        <activity android:name="lib.ui.share.ShareSdkActivity" />
        <activity
            android:name="lib.ui.share.ShareAllGird"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="lib.ui.share.SharePage"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="cn.sharesdk.framework.AuthorizeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <!--
            	Adapter表示一个继承自cn.sharesdk.framework.AuthorizeAdapter的类，
            	这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。 
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                android:name="Adapter"
                android:value="cn.sharesdk.demo.MyAdapter" />
        </activity>
        <activity android:name="lib.ui.location.LocationActivity" >
        </activity>
        <activity android:name="lib.ui.location.CellActivity" >
        </activity>
        <activity android:name="lib.ui.ImageGalleryActivity" >
        </activity>
        <activity android:name="lib.ui.ImageGridActivity" >
        </activity>
        <activity android:name="android.wheel.WheelActivity" >
        </activity>
        <activity android:name="lib.func.handwrite.HandwritingActivity" >
        </activity>
        <activity android:name="lib.ui.ImageListViewActivity" >
        </activity>
        <activity android:name="lib.func.contact.ContactActivity" >
        </activity>
        <activity android:name="lib.ui.select.SelectActivity" >
        </activity>
        <activity android:name="lib.func.floatondesktop.FloatOnDescktopActivity" >
        </activity>
        <activity android:name="lib.func.loadlocale.LoadLocaleActivity" >
        </activity>
        <activity android:name="lib.func.wps.WifiPosition" >
        </activity>
        <activity android:name="lib.func.wps.WifiPositionDemo" >
        </activity>
        
        <activity android:name="lib.func.jni.JniActivity" >
        </activity>
        <activity android:name="lib.ui.view.ViewActivity" >
        </activity>
        <activity android:name="lib.ui.view.GameViewActivity" >
        </activity>
        <activity android:name="lib.ui.view.TextViewActivity" >
        </activity>
        <activity android:name="lib.func.animation.AnimationActivity" >
        </activity>
		<activity android:name="lib.ui.splash.AnimationSplashActivity" >
        </activity>
        <activity android:name="lib.ui.list.ExpandableListViewDemo" >
        </activity>
        <activity android:name="lib.ui.tab.TestMyActivityGroup" >
        </activity>
        <activity android:name="lib.ui.tab.ContentActivity0" >
        </activity>
        <activity android:name="lib.ui.tab.ContentActivity1" >
        </activity>
        <activity android:name="lib.ui.tab.ContentActivity2" >
        </activity>
        <activity android:name="lib.ui.tab.ContentActivity3" >
        </activity>
        <activity android:name="lib.ui.tab.ContentActivity4" >
        </activity>
        <activity android:name="lib.ui.drawer.SlidingDrawerDemo" >
        </activity>
        <activity android:name="lib.ui.slide.ViewFlipperActivity" >
        </activity>
        <activity android:name="lib.func.readglass.ReadGlassActivity" >
        </activity>
        <activity android:name="lib.func.event.TestTouchEventApp" >
        </activity>
        <activity android:name="lib.ui.view.FixedGridActivity" >
        </activity>
        <activity android:name="lib.ui.view.MyPhoneCardActivity" >
        </activity>
        
        <activity android:name="lib.ui.view.AutoLineLayoutActivity" >
        </activity>
        
        <activity android:name="lib.func.looper.MessageQueue_TestActivity" >
        </activity>
        
        <activity android:name="lib.func.net.ProxyConnectActivity" >
        </activity>
        
        <activity android:name="lib.func.system_service.SystemServiceActivity" >
        </activity>
        <activity android:name="lib.func.screensaver.ScreenSaverActivity" >
        </activity>
        
        <activity android:name="lib.func.cache.image2.AsyncListImageActivity" >
        </activity>
        
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB6tv1-hOzCBBG5iEM_a_6X3C39MRer9YY" />

        <provider
            android:name="lib.func.loadlocale.LocalFileContentProvider"
            android:authorities="lib.func.loadlocale.LocalFileContentProvider" >
        </provider>
        
        <receiver android:name="lib.func.system_service.OnetimeAlarmReceiver"></receiver>
        
        <!-- <receiver android:name="lib.func.screensaver.ScreenSaverBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"></action>
            </intent-filter>
        </receiver> -->
        
        
        <service android:name="lib.func.screensaver.ScreenSaverService">
            <intent-filter>
		      <action android:name="lib.func.screensaver.ScreenSaverService"/>
		      <category android:name="android.intent.category.DEFAULT" />   
		   </intent-filter> 
        </service>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

</manifest>